<%- include("./partials/header.ejs"); %>
<body>
    <nav>
        <center>
            <ul>
                <li><a href="home.ejs" class="material-icons">home</a></li>
                <li><a href="home.ejs" class="material-icons">book</a></li>
                <li><a href="home.ejs" class="material-icons">person</a></li>
            </ul>
        </center>
    </nav>
</body>